

.container{
    width:70%;
    padding:1em;
    text-align:left;
    margin:0 auto;
    border:1px solid rgb(199, 149, 149);
    color:#000;

}

footer{
    color:blueviolet;
    text-align:center;

}